<li class="{{kind}}">
  <button class="js-close-alert corner-delete">
    <i class="icon-cancel"></i>
    <div class="corner-delete__color-fill"></div>
  </button>
  <i class="media__img alert__icon icon-{{icon}}"></i>
  <div class="media__body">{{message}}</div>
</li>
