<div id="t-song-list-header"></div>
<div id="t-song-list"></div>

<div class="player l-bottom-full">
  <div id="t-current-song"></div>

  <div class="player__controls">
    <button class="js-navigate-playlist" data-direction="prev">
      <i class="icon-prev"></i>
    </button>
    <button class="js-play">
      <i class="icon-play"></i>
    </button>
    <button class="js-navigate-playlist" data-direction="next">
      <i class="icon-next"></i>
    </button>
  </div>
</div>