<div class="song-list__header">
  <button class="js-mark-all-as-heard link-button float-right">Mark all as heard</button>
  <h2 class="song-list__title">{{title}}</h2>
</div>

<div id="t-song-list"></div>

<div class="player l-bottom">
  <div id="t-current-song"></div>

  <div class="player__controls">
    <button class="js-navigate-playlist" data-direction="prev">
      <i class="icon-prev"></i>
    </button>
    <button class="js-play">
      <i class="icon-play"></i>
    </button>
    <button class="js-navigate-playlist" data-direction="next">
      <i class="icon-next"></i>
    </button>
  </div>
</div>