<section class="l-sidebar__body">
  <a href="#" class="sidebar__logo--large">
    <img src="/assets/logo.svg" />
  </a>
  <h2 class="sidebar__sub-heading">An RSS reader for music blogs.</h2>
  <p class="sidebar__lead">The best way to discover up and coming music before everyone else.</p>

  <form class="js-new-user two-field-form" accept-charset="UTF-8" autocomplete="off">
    <ul class="js-errors two-field-form__errors"></ul>
    <input class="top-half" placeholder="Your Email"  name="user[email]" size="30" type="email">
    <input class="bottom-half" placeholder="Choose Password"  name="user[password]" size="30" type="password">

    <input name="utf8" type="hidden" value="✓">

    <button class="btn--has-loader" name="commit" type="submit">
      <i class="icon-spinner animate-spin"></i>
      Sign Up
    </button>
  </form>
</section>