<div class="l-top-full">
  <a href="#" class="sidebar__logo">MusicReader</a>
</div>

<div id="t--feeds"></div>

<div class="l-bottom-full l-absolute sidebar__bottom-panel">
  <form class="js-add-feed-form">
    <input class="js-add-feed l-ellip" placeholder="Add a blog...">
  </form>
</div>