<div class="l-top-full">
  <a href="#" class="sidebar__logo">MusicReader</a>
</div>

<div id="t--feeds"></div>

<a href="/#/browse" class="l-bottom-full l-absolute sidebar__bottom-panel">
  <span><i class="icon-plus"></i> Add Blogs</span>
</a>