{{! This weird order is nessesary for adjacent selectors to work }}

<a href="#" class="l-top-full sidebar__logo">MusicReader</a>

<a href="/#/browse" class="l-bottom-full l-absolute sidebar__bottom-panel">
  <span><i class="icon-plus"></i> Add Blogs</span>
</a>

<div id="t--feeds"></div>