<div class="l-top-full">
  <a href="#" class="sidebar__logo">MusicReader</a>
</div>

<div id="t--feeds"></div>

<div class="l-bottom-full sidebar__bottom-panel">
  <input class="js-add-feed" placeholder="Add a blog...">
</div>