<h1>Music Reader</h1>

<div id="current-song"></div>

<button class="js-play">Play</button>
<button class="js-pause">Pause</button>
<div>
  <button class="js-navigate-playlist" data-direction="prev">Prev</button>
  <button class="js-navigate-playlist" data-direction="next">Next</button>
</div>

<ul class="song-list">
  {{#each songs}}
    <li class="{{#if listened}} listened {{/if}}
               {{#if playing}}  playing  {{/if}}">
      <a href="#" class="js-switch-song" data-index="{{@index}}">{{url}}</a> --------
      Feed ids -
      {{#each entries}}
        {{feed_id}}
      {{/each}}
    </li>
  {{/each}}
</ul>