<h1>Songs</h1>
<button class="js-play">Play</button>
<button class="js-pause">Pause</button>
<div>
  <button class="js-prev">Prev</button>
  <button class="js-next">Next</button>
</div>

<ul>
  {{#each songs}}
    <li>{{url}}</li>
  {{/each}}
</ul>