<h1>Music Reader</h1>

<h2>Now Playing</h2>
<div id="current-song"></div>

<button class="js-play">Play</button>
<button class="js-pause">Pause</button>
<div>
  <button class="js-navigate-playlist" data-direction="prev">Prev</button>
  <button class="js-navigate-playlist" data-direction="next">Next</button>
</div>

<ul>
  {{#each songs}}
    <li>{{url}}</li>
  {{/each}}
</ul>