<div class="player">
  <div id="current-song"></div>

  <div class="player__controls">
    <button class="js-navigate-playlist" data-direction="prev">
      <i class="icon-prev"></i>
    </button>
    <button class="js-play">
      <i class="icon-play"></i>
    </button>
    <button class="js-navigate-playlist" data-direction="next">
      <i class="icon-next"></i>
    </button>
  </div>
</div>

<ul class="js-song-list-scroll song-list">
  {{#each songs}}
    {{> songs/_song }}
  {{/each}}
</ul>