<div class="song-list__header">
  <div class="float-right">
    <button class="js-mark-all-as-heard link-button">Mark all as heard</button>
    <button class="js-toggle-view-heard link-button">
      {{#if user.hide_heard_songs}} Show {{else}} Hide {{/if}} heard songs
    </button>
  </div>
  <h2 class="song-list__title l-ellip">{{title}}</h2>
</div>
