<div class="l-root">
</div>

<div id="start-app"></div>

<% if @user %>
  <script type="application/data" id="user-json">
    <%= @user.html_safe %>
  </script>
<% end %>

<script type="application/data" id="feed-json">
  <%= @feeds.html_safe %>
</script>

<script type="application/data" id="song-json">
  <%= @songs.html_safe %>
</script>

<script type="application/data" id="songs-per-page">
  <%= @songs_per_page %>
</script>