body, input, button{
  font-size: $base-font-size;
  font-family: $helvetica;
  -webkit-font-smoothing: antialiased;
}

body{
  background-color: $medium-grey;
}

div, input, textarea, button, a{
  @include box-sizing(border-box);
}

strong{
  font-weight: bold;
}

a{
  color: $light-grey;

  &:hover:before{text-decoration: none}
}

p {
  line-height: 1.2em;
}

h2{
  font-size: golden-ratio($gr-base, 2);
  font-weight: 500;
  &.with-margin{ margin-bottom: golden-ratio($gr-base, 1); }
}
h3{
  font-size: golden-ratio($gr-base, 1);
  &.with-margin{ margin-bottom: golden-ratio($gr-base, 0); }
}

.notice, .alert{
  padding: 1em 2.1em;
  color: white;
  &:empty{display: none}
}

.notice{ background-color: $blue }
.alert{ background-color: $red}

.reset-button{
  @include appearance(none);
  &::-moz-focus-inner { border: 0; }
  &:active, &:focus { outline: none }
  display: inline-block;
  border: 0;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.reset-input{
  @include appearance(none);
  box-shadow: none;
  border: none;
  outline: none;
}

#{$all-text-inputs} {
  @extend .reset-input;
  padding:  0.95em  1.1em;
  border-radius: $input-border-radius;
}

.small-input{
  padding: 0.75em 1em;
}

//For placeholder.js
.placeholder { color: #aaa; }

.link-button{
  @extend .reset-button;
  font-size: inherit;
}

.link-button, a{
  color: $light-grey;
  text-decoration: none;
  &:hover{text-decoration: underline}
}

.media__img{
  float: left;
  margin-right: 10px;
}
.media__img--no-margin{
  @extend .media__img;
  margin-right: 0;
}
.media__body{
  overflow: hidden;
}

.cf{ @include clearfix; }
.text-center{ text-align: center; }
.inline{display: inline}
.inline-block{display: inline-block}
.inline-image{
  display: inline-block;
  height: 1em;
}

.float-right{float: right}
.float-left{float: left}