body{
  font-size: golden-ratio($gr-base, 0);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

div{
  @include box-sizing(border-box);
}

.reset-button{
  @include appearance(none);
  border: 0;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.media__img{
  float: left;
  margin-right: 7px;
}
.media__img--no-margin{
  @extend .media__img;
  margin-right: 0;
}
.media__body{
  overflow: hidden;
}

.cf{
  @include clearfix;
}