body, input, button{
  font-size: $base-font-size;
  font-family: $helvetica;
  -webkit-font-smoothing: antialiased;
}

div, input, textarea{
  @include box-sizing(border-box);
}

a{
  color: $light-grey;

  &:hover:before{text-decoration: none}
}

.reset-button{
  @include appearance(none);
  border: 0;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.reset-input{
  @include appearance(none);
  box-shadow: none;
  border: none;
  outline: none;
}

.link-button{
  @extend .reset-button;
  font-size: inherit;
}

.link-button, a{
  color: $light-grey;
  text-decoration: none;
  &:hover{text-decoration: underline}
}

.media__img{
  float: left;
  margin-right: 10px;
}
.media__img--no-margin{
  @extend .media__img;
  margin-right: 0;
}
.media__body{
  overflow: hidden;
}

.cf{
  @include clearfix;
}

.float-right{float: right}
.float-left{float: left}