@mixin button-color($color) {
  background-color: $color;
  border: 1px solid $color; //so that btn--hollow isnt slightly bigger

  &:hover, &:focus{
    border: 1px solid darken($color, 5%);
    background-color: darken($color, 5%);
  }
}

.btn{
  @extend .reset-button;
  border-radius: 3px;
  padding: 0.8em 1.1em;
  color: white;
  font-weight: 500;
  text-align: center;

  //Rules here are redundant so that they override
  //the non-hover rules of btn--hollow
  &:hover, &:focus{
    color: white;
    text-decoration: none;
  }

  &:active{
    box-shadow: $button-active-shadow;
  }

  &:focus{
    outline: none;
    box-shadow: $subtle-shadow;
  }

  i{
    margin-right: 3px;
  }

  //default color
  @include button-color($blue);
}

.btn--red{
  @include button-color($red);
}

.btn--has-loader{
  @extend .btn;
  @include transition(width 0.5s);
  .icon-spinner {display: none}
  .is-loading & .icon-spinner {display: inline-block}
}

//So you can swap the text on a button
//on hover.
.btn{
  .hover-text{display: none}

  &:hover, &:focus{
    .standard-text{display: none}
    .hover-text{display: inline}
  }
}

.btn--hollow{
  color: $light-grey;
  background-color: transparent;
  border: 1px solid #ddd;
}