.feed-list{
  padding-top: 50px; //Logo
  padding-bottom: 50px; //Settings/logout panel

  a{
    display: block;
    &:hover{background-color: $list-hover-color}
    color: black;
    text-decoration: none;
    padding: 5px $sidebar-padding ;

    //To prevent text from being
    //cut off by the overflow hidden
    //of .l-ellip
    line-height: 1.2em;
  }

  li{
    border-bottom: 1px solid #eee;
  }
}

.feed__title{
}

.feed__unheard-count{
  color: #aaa;
  margin-left: 10px;
}

