$enough-text-inputs: 'input[type="text"], input[type="email"], input[type="password"]';

.two-field-form{
  input, button{
    font-size: golden-ratio($sidebar-logo-large-size, -2);
    @include transition(font-size 0.3s);
  }

  #{$enough-text-inputs}{
    @extend .reset-input;
    width: 100%;
    margin: 0;

    &.top-half{
      border-bottom: 2px solid #ddd;
      padding: 0.95em 1.1em 0.71em 1.1em;
      @include border-top-radius($input-border-radius);
    }

    &.bottom-half{
      padding: 0.71em 1.1em 0.95em 1.1em;
      @include border-bottom-radius($input-border-radius);
    }
  }

  button, .btn {
    margin-top: 10px;
  }
}

.two-field-form__errors{
  &:empty{display: none}
  background-color: $red;
  color: white;
  margin-bottom: 10px;
  li{
    border-bottom: 1px solid lighten($red, 10%);
    padding: 0.7em 1.1em;
    &:last-child{ border-bottom: 0 }
  }
}

.one-field-form{
  @extend .two-field-form;

  #{$enough-text-inputs}{
    padding:  0.95em  1.1em;
    @include border-top-radius($input-border-radius);
    @include border-bottom-radius($input-border-radius);
  }
}



.form-and-details{

  .details{
    float: left;
    color: white;
    margin-right: 50px;

    h2{
      margin-bottom: 8px;
    }

    h2,h3{
      a{color: white}
    }

    ul{
      margin-top: 15px;
    }

    .bullet-list{
      color: #aaa;
    }

    a{
      color: #aaa;
    }
  }

  form {
    overflow: hidden;
  }

  &.l-absolute-center{
    @include absolute-center(650px, 176px);
  }
}

//Devise crap
#error_explanation{
  h2{display: none}
  ul{@extend .two-field-form__errors}
}