$enough-text-inputs: 'input[type="text"], input[type="email"], input[type="password"]';

.two-field-form{
  input, button{
    font-size: golden-ratio($sidebar-logo-large-size, -2);
    @include transition(font-size 0.3s);
  }

  #{$enough-text-inputs}{
    @extend .reset-input;
    width: 100%;
    margin: 0;

    &.top-half{
      border-bottom: 2px solid #ddd;
      padding: 0.95em 1.1em 0.71em 1.1em;
      @include border-top-radius($input-border-radius);
      @include border-bottom-radius(0);
    }

    &.bottom-half{
      padding: 0.71em 1.1em 0.95em 1.1em;
      @include border-top-radius(0);
      @include border-bottom-radius($input-border-radius);
    }
  }

  button, .btn {
    margin-top: 10px;
  }
}

.two-field-form__errors{
  &:empty{display: none}
  background-color: $red;
  color: white;
  margin-bottom: 10px;
  li{
    border-bottom: 1px solid lighten($red, 10%);
    padding: 0.7em 1.1em;
    &:last-child{ border-bottom: 0 }
  }
}

//Devise crap - happens in the standalone signup page
#error_explanation{
  h2{display: none}
  ul{@extend .two-field-form__errors}
}

.one-field-form{
  @extend .two-field-form;
}

.vertical-form{
  input{
    &:focus{box-shadow: $subtle-shadow}
  }

  label{
    display: block;
    color: #ccc;
    margin-bottom: 5px;
    margin-top: 5px;
  }

  .hint{
    color: #888;
    font-size: 0.9em;
  }

  fieldset{
    margin-bottom: 30px;
  }

  #{$enough-text-inputs}{
    @extend .reset-input;
    width: 100%;
    border-radius: $input-border-radius;
  }
}

.small-input-form{
  input{
    @extend .small-input;
  }
}


.form-and-details{

  color: white;

  .details{
    float: left;
    color: white;
    margin-right: 50px;

    h2{
      margin-bottom: 8px;
    }

    ul{
      margin-top: 15px;
    }

    .bullet-list{
      color: #aaa;
    }

    a, .link-button{ color: #aaa; }
               .btn{ color: white }

    h2,h3{ a{ color: white } }

    button, .btn {
      margin-top: 20px;
    }
  }

  & > form {
    overflow: hidden;
  }

  &.l-absolute-center{ @include absolute-center(650px, 176px);}
  &.l-horizontal-center {
    width: 650px;
    margin: 0 auto;
    margin-top: 40px;
  }
}