.header{
  height: $song-list-header-height;
  padding-left: 10px;
  border-bottom: 1px solid #eee;

  a{
    color: black;
  }
}

.header__controls{
  margin-left: 10px;

  & > li {
    float: left; //Fixes weird spacing issue
    border-left: 1px solid #eee;
  }

  //Applies to all links and buttons
  & > li > button,
  .dropdown-menu > li > a,
  .dropdown-menu > li > form button {
    color: $light-grey;
  }

  //Applies only to the immediately visible menu
  & > li > button{
    @extend .reset-button;
    font-size: 12px;
    &:hover, &:focus{background-color: $list-hover-color}
    &:focus{outline: none}

    height: $song-list-header-height;
    padding: 0 13px;

    i{font-size: 20px}
  }

  //Applies only to the dropdown
  .dropdown-menu > li > a,
  .dropdown-menu > li > form button {
    &:hover{color: white}
  }
}

.header__title{
  font-size: golden-ratio($gr-base, 1);
  font-weight: 500;
  line-height: $song-list-header-height;
}