.l-root{
  position: relative;
}

.l-sidebar, .l-main{
  position: absolute;
  bottom: 0;
  top: 0;

  border: 1px solid #eee;
  padding: 10px;
}

.l-sidebar{
  width: $sidebar-width;
}

.l-main{
  width: 100% - $sidebar-width;
  left: $sidebar-width;
}

.l-bottom{
  position: absolute;
  bottom: 0;
}

.l-bottom-full{
  @extend .l-bottom;
  left: 0;
  right: 0;
}