//Layout
.l-root{
  position: relative;
}

.l-sidebar, .l-main{
  position: fixed;
  bottom: 0;
  top: 0;

  .player ~ & {
    bottom: $player-height;
  }
}

.l-sidebar{
  width: $sidebar-width;

  .l-top, .l-top-full, .l-bottom, .l-bottom-full{
    right: 100% - $sidebar-width;
    &.l-absolute{right: 0}
  }
}

.l-sidebar__body{
  @include position(absolute, 57px 0px 51px 0px);
  overflow: scroll;

  padding: 10px 0;

  background-color: $sidebar-color;
}

.l-main{
  width: 100% - $sidebar-width;
  left: $sidebar-width;

  .l-top, .l-top-full, .l-bottom, .l-bottom-full{
    left: $sidebar-width;
    &.l-absolute{left: 0}
  }
}

.l-main__list{
  @include position(absolute, $song-list-header-height 0px 0px 0px);
  overflow: scroll;
}

//Positioning
.l-bottom{
  position: fixed;
  bottom: 0;
}

.l-top{
  position: fixed;
  top: 0;
}

.l-bottom-full{
  @extend .l-bottom;
  left: 0;
  right: 0;
}

.l-top-full{
  @extend .l-top;
  right: 0;
  left: 0;
}

.l-absolute{position: absolute}

.l-center-text{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin-top: -1em;
}

//Text
.l-ellip{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;

  line-height: 1.2em;
}