//Layout
.l-root{
  position: relative;
}

.l-sidebar, .l-main{
  position: fixed;
  bottom: 0;
  top: 0;
}

.l-sidebar{
  width: $sidebar-width;
  border-right: 1px solid #eee;
  overflow: scroll;

  .l-top-full, .l-bottom{right: 100% - $sidebar-width}
}

.l-main{
  width: 100% - $sidebar-width;
  left: $sidebar-width;
  overflow: scroll;
}

//Positioning
.l-bottom{
  position: fixed;
  bottom: 0;
}

.l-top{
  position: fixed;
  top: 0;
}

.l-bottom-full{
  @extend .l-bottom;
  left: 0;
  right: 0;
}

.l-top-full{
  @extend .l-top;
  right: 0;
  left: 0;
}

.l-absolute{position: absolute}

//Text
.l-ellip{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
}