.player{
  height: $player-height;
  background-color: white;

  @include clearfix;

  z-index: $player-z;
}

.player__controls{
  margin-left: 50%;
  position: absolute;
  left: 21px;

  button{
    @extend .reset-button;
    font-size: 50px;
  }
}

.player__spinner{
  position: absolute;

  text-align: center;
  line-height: $player-height;
  width: $player-height;
  color: white;
  font-size: 50px;

  display: none;
  .is-loading &{display: block}
}

.player__visual{
  width: $player-height;
  height: $player-height;
  background-color: black;

  .is-loading & img {
    opacity: 0.3;
  }
}

.player__img{
  width: $player-height;
  height: $player-height;
}

.player__body{
  padding: 25px;
}

.player__title{
  font-weight: 500;
  font-size: golden-ratio($gr-base, 2);
}

.player__duration{
  font-size: golden-ratio($gr-base, 2);
  color: $light-grey;
}

.player__blogs{
  font-size: golden-ratio($gr-base, 1);
}