.feed__icon{
  width: 25px;
  float: left;

  img{background-color: white;}
}

.feed__title{
  @extend .l-ellip;
}

.feed__unheard-count{
  background-color: black;
  color: #FFF;

  margin-left: 10px;
  line-height: 1.2em;

  min-width: 20px;
  text-align: center;
  font-size: 11px;
  border-radius: 3px;
  line-height: $base-font-size * 1.2;

  float: right;
}

