.sidebar__logo{
  font-weight: bold;
  color: black;
  font-size: $logo-height;
  display: block;
  padding: $sidebar-padding;

  //border-bottom: 3px solid black;
  background-color: white;

  &:hover{
    text-decoration: none;
    color: #666;
  }
}

.sidebar__list{
  & > li{
    & > a{
      display: block;
      text-decoration: none;
      padding: 7px $sidebar-padding;

      color: white;
      &:hover{
        background-color: lighten($medium-grey, 15%);
      }

    }
  }
}

.sidebar__bottom-panel{
  background-color: lighten($medium-grey, 15%);
  .twitter-typeahead{
    width: 100%;
  }

  input{
    width: 100%;
    @extend .reset-input;
    padding: $sidebar-padding;
    color: white;
  }

  .tt-dropdown-menu{
    bottom: 100%;
    top: auto !important;
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    background-color: white;
    border-bottom: 1px solid #eee;
    padding: 10px 0;
  }

  .tt-hint{
    @extend .l-ellip;

    //Hint is hidden to make form feel
    //more like a search than a field.
    display: none;
  }

  .tt-suggestion{
    @extend .l-ellip;
    padding: 7px $sidebar-padding;
    color: #666;
  }

  .tt-is-under-cursor{
    background-color: blue;
    color: white;
  }

  .tt-suggestion-heading{
    font-weight: bold;
    padding: 5px 17px;
  }
}