.song-list{
  overflow: scroll;

  li{
    @include clearfix;
    border-bottom: 1px solid #eee;
    position: relative;
    overflow: hidden;

    &.is-removing {
      max-height: $song-img-size;
      opacity: 1;
      @include animation(moveOut 0.3s 0.2s ease forwards, closeSpace 0.2s ease forwards 0.3s)
    }

    &.is-selected {
      .song__trigger{
        background-color: blue;
        color: white;
      }
      .song__time-ago{color: rgba(white, 0.6)}
      .song__controls{
        button, a{
          color: white;
        }
      }
    }
  }
}

.song-list__header{
  height: $song-list-header-height;
  button{line-height: $song-list-header-height;}
  padding: 0 10px;
  border-bottom: 1px solid #eee;

  a{
    color: black;
  }
}

.song-list__title{
  font-size: golden-ratio($gr-base, 1);
  font-weight: bold;
  line-height: $song-list-header-height;
}

.song__listened{
  @extend .reset-button;
  vertical-align: top;
}

.song__listened__icon{
  $indicator-size: 10px;

  display: block;
  width: $indicator-size;
  height: $indicator-size;
  margin: ($song-img-size - $indicator-size)/2 10px;
  margin-right: 13px;

  background-color: blue;
  border-radius: 50%;

  .is-listened &{
    background-color: transparent;
  }

  .is-listened .song__listened:hover &{
    background-color: rgba(blue, 0.5);
  }
}

.song__main{
  &:hover{background-color: $list-hover-color}
}

.song__img-wrapper{
  width: $song-img-size;
  height: $song-img-size;
  overflow: hidden;
  display: inline-block;
  img{
    height: 100%;
  }
}

.song__trigger{
  display: block;
  &:hover{text-decoration: none;}
  color: black;
}

.song__title{
  margin-top: 6px;
  margin-bottom: 3px;
  //font-weight: bold;
  font-size: 1.3em;
}

.song__title, .song__blogs{
  @extend .l-ellip;
}

.song__duration{
  font-weight: bold;
}

.song__time-ago{
  color: #aaa;
  margin-left: 2px;
}

.song__controls{
  display: none;
  .song-list > li:hover & {display: block}

  margin-left: 20px;
  float: right;

  button, a{
    @extend .reset-button;
    text-decoration: none;
    color: black;
    font-size: 20px;
    line-height: $song-img-size;
    margin-right: 10px;

    opacity:0.5;
    &:hover{opacity: 1}
  }
}

.song__favorite{
  .is-favorited &{
    color: red !important;
    i:before{
      @extend .icon-heart:before;
    }
  }
}