.song-list{
  overflow: scroll;

  li{
    @include clearfix;
    //border-bottom: 1px solid #eee;
    position: relative;
    overflow: hidden;

    &:hover{background-color: $list-hover-color}

    //The 1.1em font size on the checkmark
    //causes the height to jitter very slightly
    //without this rule.
    max-height: $song-img-size;

    &.is-removing {
      //This rule is duplicated atm, but
      //it is nessesary for the removing
      //animation sepcifically, so I'm
      //gonna keep it here.
      max-height: $song-img-size;
      opacity: 1;
      @include animation(moveOut 0.3s 0.2s ease forwards, closeSpace 0.2s ease forwards 0.3s)
    }

    &.is-selected {
      .song__trigger{
        background-color: blue;
        color: white;
      }
      .song__blogs, .song__duration{color: rgba(white, 0.7)}
      .song__controls{
        button, a{
          color: rgba(white, 0.7);
          &:hover{color: white}
        }
      }
    }
  }
}

.song-list__header{
  height: $song-list-header-height;
  button{line-height: $song-list-header-height;}
  padding: 0 10px;
  border-bottom: 1px solid #eee;

  a{
    color: black;
  }
}

.song-list__title{
  font-size: golden-ratio($gr-base, 1);
  font-weight: 500;
  line-height: $song-list-header-height;
}

.song__img-wrapper{
  width: $song-img-size;
  height: $song-img-size;
  overflow: hidden;
  display: inline-block;
  img{
    height: 100%;
  }
}

.song__body{
  padding: 0 20px;
}

.song__trigger{
  display: block;
  &:hover{text-decoration: none;}
  color: black;
}

.song__title{
  margin-bottom: 5px;
  margin-top: 13px;
  font-size: golden-ratio($gr-base, 1);
  font-weight: 500;

  .is-listened &{
    font-weight: normal;
  }
}

.song__title, .song__blogs{
  @extend .l-ellip;
}

.song__blogs{
  color: $light-grey;
}

.song__duration{
  //It becomes "covered" by the controls
  .song-list > li:hover & {display: none}

  line-height:  $song-img-size;
  color: $light-grey;
  margin-left: 10px;
}

//Also used in the player
.song__controls{
  .song-list &{
    display: none;
    margin-left: 20px;
    float: right;
  }

  .song-list > li:hover & {display: block}

  button, a{
    @extend .reset-button;
    text-decoration: none;
    color: $light-grey;
    font-size: 20px;
    line-height: $song-img-size;
    margin-right: 10px;
    &:hover{color: black}
  }
}

.song__favorite{
  .is-favorited &{
    color: red !important;
    &:hover{color: darken(red, 5%) !important}
  }
}