$gr-base: 14px;
$base-font-size: $gr-base;

//Colors
$pale-blue: #ADD3E6;
$list-hover-color: #eee;
$medium-grey: #3C3C3C;
$light-grey: #777;

//Layout
$sidebar-width: 20%;
$sidebar-padding: 17px;
$song-list-header-height: 57px;

//Logo
$logo-height: golden-ratio($gr-base, 1);

//Player
$player-height: 200px;

//Songs
$song-img-size: 75px;

//Z-index
$player-z: 100;