$gr-base: 14px;
$base-font-size: $gr-base;

//Colors
$pale-blue: #ADD3E6;
$list-hover-color: #eee;
$grey: #3C3C3C;

//Layout
$sidebar-width: 20%;
$sidebar-padding: 17px;
$song-list-header-height: golden-ratio($gr-base, 2);

//Logo
$logo-height: golden-ratio($gr-base, 1);

//Player
$player-height: 200px;

//Songs
$song-img-size: golden-ratio($gr-base, 3);